@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');
*{
    grid-row: inherit;
}
html{
    background-image: url(airplane_50_1_1920x1080.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h1{
grid: inherit;
  position: absolute;
  bottom: 75%;
  right: 40.345%;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

#navbar   {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    background-color: rgb(47 132 200);

}
#one{
    position: absolute;
    right: 44.345%;
    bottom: 50%;
}
#two{
    position: absolute;
    right: 50%;
    bottom: 45%;
}
a{
    color: white;
}
#plane:hover{
transform: translateX(50px);
transition-duration: 3s;
}

#label{
display: grid;
grid-auto-columns: 150px;
}

#icon{
display: grid;
}
#abouth{
    position: absolute;
    right: 35%;
    bottom: 50%;
    size: 20px;
}